*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
} 

.menubar{
    display: flex;
    flex-flow: row wrap;
    height: 200px;
    background: white;
    position:fixed;
    width: 100%;
    
}



.menu{
    flex:20%;
    text-align:center;
    padding:10px;

}
 .menu a{
    color:#732472;
    text-decoration: none;
    font-size:20px;
    padding:20px 16px; 
}



